body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ff6347;
}

main {
    flex: 1;
    padding: 20px;
}

.intro, .games, .game-detail {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.games ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.games ul li {
    margin: 0 10px;
}

.games ul li img {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

img.thumbnail {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

.reviews {
    margin-top: 20px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #35424a;
}

.reviews h3 {
    margin-top: 0;
}

.reviews form {
    display: flex;
    flex-direction: column;
}

.reviews form label {
    margin-top: 10px;
}

.reviews form input,
.reviews form select,
.reviews form textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.reviews form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #35424a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reviews form button:hover {
    background-color: #ff6347;
}

#reviewsList {
    margin-top: 20px;
}

#reviewsList h4 {
    margin-bottom: 10px;
}

